<h4>Formularios <small> Temaplate </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(form)" #form="ngForm">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <small *ngIf="nombre.invalid && nombre.touched" class="text-danger form-text">Ingrese minimo 5 letras</small>
                <input class="form-control" type="text" name="nombre" [class.is-invalid]="nombre.invalid && nombre.touched" #nombre="ngModel" [ngModel]="usuario.nombre" required minlength="5" placeholder="Nombre">

            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <small *ngIf="apellido.invalid && apellido.touched" class="text-danger form-text">Ingrese minimo 5 letras</small>
                <input class="form-control" [class.is-invalid]="apellido.invalid && apellido.touched" type="text" required minlength="5" name="apellido" #apellido="ngModel" [ngModel]="usuario.apellido" placeholder="Apellido">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">
            <small *ngIf="correo.invalid && correo.touched" class="text-danger form-text">Ingrese un formato de correo valido</small>
            <input class="form-control" [class.is-invalid]="correo.invalid && correo.touched" [ngModel]="usuario.correo" name="correo" #correo="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="email" required minlength="5" placeholder="Correo electrónico">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-8">
            <small *ngIf="pais.invalid && pais.touched" class="text-danger form-text">Seleccione un pais</small>
            <select class="form-control" name="pais" #pais="ngModel" [class.is-invalid]="pais.invalid && pais.touched" required [ngModel]="usuario.pais" [disabled]="paises.length === 0">
                <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
            </select>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">Genero</label>
        <div class="col-8">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" #genero="ngModel" [class.is-invalid]="genero.invalid && genero.touched" required value="M" name="genero" ngModel>
                <label class="form-check-label">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" #genero="ngModel" [class.is-invalid]="genero.invalid && genero.touched" required value="F" name="genero" ngModel>
                <label class="form-check-label">Femenino</label>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>